@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ensure the root container and body take full height and width */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
